<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
    <title>Vue Boolzapp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Milestone 1 -> !Replica della grafica:
    Con la possibilità di avere dei messaggi inviati verdi e ricevuti bianchi

                        !Visualizzazione dinamica della lista contatti:
    Tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto-->


    <!-- Milestone 2 -> !Visualizzazione dinamica dei messaggi:
    Tramite la direttiva v-for, visualizzare tutti i messaggi relativi al contatto attivo
    all'interno del pannello della conversazione

                        !Click sul contatto:
    Mostra la conversazione del contatto cliccato-->
    <!-- Milestone 3 -> !Aggiunta di un messaggio
    L'untente scire un testo nella parte bassa e digitando "enter" il tasto viene
    aggiunto al thread sopra, come messaggio verde

                        !Risposta dell'interlocoture
    ad ogni inserimento di un messaggiom l'utente riceverà un "ok" come risposta,
    che apparirà daopo un secondo-->

    <!-- Milestone 4 -> !Ricerca utenti
    scrivendo qualcosa nell'input a sinistra, vengono visualizzati solo i contatti
    il cui nome contiene le lettere inserite-->
    <main id="app">
      <nav id="navContacts">
        <div class="container">
          <div id="navContacts-header">
            <img src="img/boolzapp.png" alt="">
            <input type="search" name="" placeholder="Cerca il contatto..." v-model="searchContact">
          </div>
        </div>
        <ul>
          <li v-for="(elem, index) in contacts" class="contact" @click="openChat(index)">
            <img :src="elem.avatar" alt="">
            <div class="container">
              <span>{{elem.name}}</span>
            </div>
          </li>
        </ul>
        <div id="navFooter">
          <div class="container">
            <p>Creazione di Simone Marzolla<br>
              Anno: 2021</p>
          </div>
        </div>
      </nav>
      <section id="default" v-if="!showChat">
        <div id="orizontalAlignMiddle">
          <img src="img/boolzapp.png" alt="">
        </div>
        <span>World instant messages.</span>
      </section>
      <section id="chat" v-else>
        <div id="chatHeader">
          <img :src="contacts[contactClick].avatar" alt="Nome del contatto">
          <span>{{contacts[contactClick].name}}</span>
        </div>
        <div id="justChatting">
          <div v-for="elem in contacts[contactClick].messages"
          v-if="elem.status == 'sent'" class="rightMsg">
            <p>{{elem.text}}</p>
          </div>
          <div class="leftMsg" v-else>
            <p>{{elem.text}}</p>
          </div>
        </div>
        <div id="sendMessage">
          <input type="text" name="" placeholder="Scrivi un messaggio..." v-model="writeMessage"
          v-on:keyUp.enter="addMessage">
          <input type="button" name="" value=">" @click="addMessage">
        </div>
      </section>
    </main>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
